.space {
	height: 10px;
}
#services .photography {
	background: url(../img/photography.png);
	background-size: 100px 100px;
	display: block;
	width: 100px;
	height: 100px;
}
#services .videography {
	background: url(../img/video.png);
	background-size: 100px 100px;
	display: block;
	width: 100px;
	height: 100px;
}
#services .design {
	background: url(../img/design.png);
	background-size: 100px 100px;
	display: block;
	width: 100px;
	height: 100px;
}